@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
    width: 6px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: rgba(5, 82, 248, 0.151);
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: blue;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #07cece;
}